<a href="https://colab.research.google.com/github/mominulhaque666/CSE445.3-Assignment/blob/main/SalesForecast/SalesForecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 50)

In [3]:
# Upload the model & date wise sales dataset

sales = 'https://raw.githubusercontent.com/mominulhaque666/CSE445.3-Assignment/main/SalesForecast/Date%20and%20model%20wise%20sale.csv'

In [4]:
# Read the audit risk dataset

sales_df = pd.read_csv(sales)
sales_df

            Date Model  Count
0      31-Aug-16   M45      5
1      31-Aug-16  M121      3
2      31-Aug-16  M122      4
3      31-Aug-16   M91     10
4      31-Aug-16   M66     57
...          ...   ...    ...
46111  01-Jan-14   M74      1
46112  01-Jan-14   M59      1
46113  01-Jan-14   M60      5
46114  01-Jan-14   M54      1
46115  01-Jan-14   M58      1

[46116 rows x 3 columns]